@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    --background: 0 4% 4%; /* #0B0A0A */
    --foreground: 0 0% 98%; /* #FAFAFA */

    --card: 356 48% 13%; /* #2E1114 */
    --card-foreground: 0 0% 98%;

    --popover: 0 4% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 357 91% 45%; /* #E50914 */
    --primary-foreground: 0 4% 4%; /* #0B0A0A */

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 214 8% 82%; /* #C8CDD2 */

    --accent: 47 100% 65%; /* #FFD84D */
    --accent-foreground: 0 4% 4%; /* #0B0A0A */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 47 100% 65%; /* #FFD84D */
    --input: 0 0% 14.9%;
    --ring: 47 100% 65%; /* #FFD84D */

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
